extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 #{profile.name}

        //- Feel free personalize the title below
        p.lead.text-light #{profile.title}

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello and thank you for showing interest in my website! I'm Biljana and I am a Software Engineer BSc, from the
            a(href='https://www.teithe.gr/tmima-michanikon-pliroforikis/' target="_blank")  ATEI
            |
            | university of Greece. Since 2016, I moved to Belgium where I still reside.
            br
            | Currently I work as Angular front-end developer, in Wavre. The technology stack I'm working with is Angular 7, Typescript and RxJs. In the past I have worked as a freelance front-end developer, mostly developing static websites and for 3 years,
            | as Servicenow consultant and developer, in a company in Mechelen.
          p
            | The projects you see on this site, are part of a training I took online last year, for Full Stack Javascript developer, as well as the websites I created some years ago, while working as a freelancer.
            | The training included 10 projects, developed in vanilla Javascript, jQuery, React, Node JS, Express JS, SQLite with Sequelize JS for the last 3 projects and a final exam.
            |  This website is also part of my portfolio projects, implemented with Node JS, Express JS and Pug.
          p
            | On the right, you can find the link to my Github profile, where I have the repositories for the projects I've implemented and my Linkedin profile, which I keep up-to-date and where you can also find my CV.
            br
            | If you want to reach out, please send me a message on Linkedin and I'll get back to you!
          p
            | Thank you for visiting my website!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
          ul
            each skill in profile.skills
              li= skill

        each profileLink, linkTitle in profile.profileLinks
            a.button.expanded(href= profileLink target= "_blank")= linkTitle


  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
