extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projectObj.title}
        p.lead.text-light
          | #{projectObj.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each tech in projectObj.technologies
            li= tech

        if projectObj.demoLink !== ''
          a.button.expanded(href= projectObj.demoLink target= "_blank") Live Demo
        if projectObj.gitRepositoryLink !== ''
          a.button.expanded(href= projectObj.gitRepositoryLink target= "_blank") GitHub Repo

    each image in projectObj.images
      img.image(src= image)
